body{
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body h1{
    text-align: center;
    margin-bottom: -50px;
    margin-top: 50px;
}

.titulo-pesquisador{
    color: blue;
}
.conteiner{
    width: 800px;
    border-radius: 15px;
    display: block;
    justify-items: center;
    background-color: white;
    padding: 20px;
    margin-top: 3%;
    margin-left: 20%;
    
}
label{
    font-family: 'karla', sans-serif;
    
}
.area-cadasyto{
    display: block;

}
.area-cadatro label{
    display: block;
    padding: 10px;
}
.area-cadastro input{
    height: 30px;
    width: 100%;
    outline: 0;
    background-color: #EEEEEE;
    color: black;
    
}

.area-cadastro label p{
    text-align: center;
    margin-bottom: 0px;
}

form{
    margin-top: 0px;
    display: flex;
    
}

footer{
    width:100%;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
    display: flex;
    margin-left: 3%;
    margin-top: 50px;
}
.nao-tenho-cadastro{
    text-align: center;
}


.header-cadastro{
    height: 100px;
    width: 100%;
    background-color: #999999;
    padding-left: 50px;
}


input{
    width: 100%;
    height: 35px;
    margin: 10px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 0;
    border: 0 none;
    background-color: #EEEEEE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

input::-webkit-calendar-picker-indicator {
    opacity: 100;
 }


#curriculo-lattes{
    height: 150px;
}

div{
    margin: 15px;
}
.header-cadastro img{
    height: 100px;
}
.botão{
    width: 200px;
}
