.header-dashboard{
    height: 70px;
    background-color: #5E81AC;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
img{
    height: 80px;
    margin-bottom: 15px;
}
.logo-input{
    display: flex;
}
.input-pesquisar{
    height: 30px;
    width: 250px;
    margin-top: 45px;
    margin-left: 10px;
    border-radius: 10px;
}
.painel-principal{
    display: flex;
}
.menu-principal{
    width: 200px;
    height: 600px;
    padding: 0px;
    padding-top: 1px;
    align-items: left;
    display: block;
    align-items: left;
    justify-content: center;
}
li{
    margin-top: 3px;
    background-color: #5E81AC;
    list-style: none;
    width: 180px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    height: 40px;
    text-decoration: none;
}
li:hover{
    background-color: blue;
    border-color: white;
}
a{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    width: 180px;
}
ul{
    padding: 0px;
    align-items: left;
}
.li-sair{
    height: 273px;
    display: flex;
    justify-content: space-between;
}
.corpo-da-pagina{
    background-color: #EEEEEE;
    height: 535px;
    width: 1115px;
    margin-left: 10px;
    margin-top: 18px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
iframe{
    width: 900px;
    height: 700px;
    display: block;
}
