.enviarProtocolo{
    display: flex;
}
label{
    margin-left: 20px;
}
button{
    margin-top: 50px;
    width: 80px;
}
.protocoloComissao{
    display: none;
}
.tituloProtocolo{
    display: flex;
    justify-content: space-between;
}
.tituloProtocolo input{
    width: 200px;
    height: 30px;
    margin-top: 25px;
}